.footer {
    padding-top: 60px;
    background-color: #f9f9fb;

    &__top {
        padding-bottom: 30px;
        .container {
            // display: grid;
            // grid-template-columns: repeat(4, 1fr);
            display: flex;
            justify-content: space-between;
            gap: 30px 60px;
            flex-wrap: wrap;

            @media (max-width: 576px) {
                flex-direction: column;
            }
        }
    }

    &__bottom {
        padding: 30px 0;
        border-top: 1px solid #e5e5e6;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 285px;
    }

    &__desc {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #626262;
    }

    &__socials {
        display: flex;
        gap: 15px;
    }

    &__social-block {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #dedede;
        border-radius: 50%;
        transition: all 0.3s ease;

        svg {
            transition: all 0.3s ease;
        }

        &:hover {
            svg {
                color: #fff;
            }
        }

        &--facebook:hover {
            background-color: #2585fd;
        }
        &--instagram:hover {
            background-color: #f62f6b;
        }
        &--x:hover {
            background-color: #1e1c1c;
        }
    }

    &__menu {
        &-title {
            font-size: 24px;
            font-weight: 600;
            line-height: 36.45px;
            margin-bottom: 10px;
        }
    }

    &__list {
        &-item {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.02em;
            margin-bottom: 8px;
        }
    }

    .copyright {
        color: #626262;
        font-size: 14px;
        text-align: center;

        a {
            transition: all 0.3s ease;

            &:hover {
                color: #12ae65;
            }
        }
    }
}
