.section {
    padding: 60px 0;
    @media (max-width: 768px) {
        padding: 30px 0;
    }
    &__title {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }
    &__subtitle {
        font-size: 14px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #626262;
        margin: 0 auto 60px;

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }
    }

    &--subscribe {
        .subscribe {
            &__wrapper {
                display: flex;
                justify-content: space-between;
                align-items: start;
                gap: 30px;

                @media (max-width: 768px) {
                    flex-direction: column;
                }
            }

            &__title {
                font-size: 20px;
                font-weight: 600;
            }

            &__subtitle {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.02em;
                color: #626262;
                margin-bottom: 15px;
            }

            &__form {
                display: flex;
                align-items: center;
                gap: 15px;

                @media (max-width: 576px) {
                    flex-direction: column;
                    align-items: start;
                }

                input {
                    display: block;
                    width: 360px;
                    border: 2px solid #dedede;
                    font-size: 15px;
                    padding: 8px 15px;
                    border-radius: 72px;
                    transition: all 0.3s ease;

                    &:focus {
                        border-color: #f58634;
                    }

                    &::placeholder {
                        font-size: 15px;
                        color: #7f7f7f;
                    }

                    @media (max-width: 576px) {
                        width: 100%;
                    }
                }

                button {
                    display: block;
                    color: #fff;
                    font-weight: 500;
                    background-color: #000;
                    min-width: 90px;
                    padding: 8px 10px;
                    border-radius: 72px;
                    transition: all 0.3s ease;
                    &:hover {
                        background-color: #f58634;
                        transform: scale(1.05);
                    }

                    @media (max-width: 576px) {
                        width: 100%;
                    }
                }
            }

            &__contacts {
                display: flex;
                align-items: center;
                gap: 15px;
                text-align: end;

                @media (max-width: 768px) {
                    text-align: start;
                }

                &-desc {
                    font-size: 18px;
                    font-weight: 600;
                    color: #7f7f7f;
                }
            }
            &__number {
                font-size: 28px;
                font-weight: 600;
            }
            &__email {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    &--destinations {
        .destinations {
            &__wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;

                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                }
            }

            &__block {
                position: relative;
                max-width: 350px;
                margin: 0 auto;
            }

            &__title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 32px;
                font-weight: 600;
                color: #fff;

                @media (max-width: 768px) {
                    font-size: 24px;
                }
            }

            &__link {
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: inherit;
                border: 2px solid #fff;
                width: 175px;
                color: #fff;
                font-weight: 500;
                padding: 6px 15px;
                border-radius: 20px;
                text-align: center;
            }

            &__img {
                position: relative;
                aspect-ratio: 1/1;
                overflow: hidden;
                border-radius: 40px;

                &--overlay {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background-image: linear-gradient(
                        180deg,
                        rgba(102, 102, 102, 0) 25.9%,
                        rgba(0, 0, 0, 0.65) 96.4%
                    );
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__settings {
                margin: 0 auto;
                margin-top: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                gap: 15px;
                button {
                    // display: flex;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    background-color: #000;
                    width: 41px;
                    height: 41px;
                    border-radius: 50%;
                    transition: all 0.3s ease;

                    &:hover {
                        width: 45px;
                        height: 45px;
                    }
                }
                a {
                    background-color: #000;
                    color: #fff;
                    font-weight: 500;
                    width: 207px;
                    padding: 8px 18px;
                    border-radius: 72px;
                    transition: all 0.3s ease;
                    text-align: center;

                    &:hover {
                        width: 217px;
                        background-color: #12ae65;
                    }
                }
            }
        }
    }

    &--offers {
        .section__subtitle {
            margin: 0;
        }
        .offers {
            &__info {
                .address {
                    color: #626262;
                }
            }

            &__title {
                color: #000;
            }

            &__price {
                color: #000;
            }
        }
    }

    &--why {
        .why-golf__wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }

        .why-golf {
            &__block {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                text-align: center;
            }

            &__img {
                width: 80px;
                height: 80px;
                background-color: #f5f5f5;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;

                img {
                    transform: scale(0.8);
                }
            }

            &__title {
                font-size: 24px;
                font-weight: 600;
                line-height: 27px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

                &--2 {
                    font-size: 40px;
                    line-height: 54px;
                }
            }
        }
    }

    &--pro {
        .golf-pro {
            &__wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;

                @media (max-width: 990px) {
                    grid-template-columns: 1fr;
                }
            }

            &__block {
                padding: 15px 5px 5px 5px;
                background-color: #f5f5f5;
                border-radius: 30px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #f58634;

                    .golf-pro__data {
                        h3,
                        p {
                            color: #fff;
                        }
                    }
                }
            }

            &__img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__info {
                display: flex;
                gap: 15px;
                align-items: center;
                padding: 0 30px;
                margin-bottom: 15px;

                @media (max-width: 375px) {
                    flex-direction: column;
                    text-align: center;
                }
            }

            &__data {
                h3 {
                    font-size: 24px;
                    font-weight: 600;
                    transition: all 0.3s ease;

                    @media (max-width: 576px) {
                        font-size: 18px;
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0.02em;
                    color: #626262;
                    transition: all 0.3s ease;

                    @media (max-width: 576px) {
                        font-size: 15px;
                    }
                }
            }

            &__desc {
                background-color: #fff;
                padding: 30px;
                border-radius: 30px;
                font-size: 14px;
                font-weight: 400;
                color: #626262;
            }
        }

        .link-1 {
            margin: 0 auto;
            margin-top: 30px;
        }
    }
}
