.mobile-navbar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    padding: 30px;
    z-index: 90;
    height: 100vh;
    background-color: #fff;
    max-width: 320px;
    width: 100%;
    transform: translate(200%, 0);
    transition: all 0.5s ease;

    @media (max-width: 990px) {
        display: flex;
        flex-direction: column;
        &--open {
            transform: translate(0%, 0);
        }
    }

    &__close {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    &__settings {
        width: 100%;
        position: relative;
        margin-top: auto;
    }

    &--overlay {
        position: fixed;
        display: none;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 90;
        background-color: rgba(0, 0, 0, 0.5);

        @media (max-width: 990px) {
            &--open {
                display: block;
            }
        }
    }

    &__item {
        padding-bottom: 15px;
        border-bottom: 2px solid rgba(235, 235, 235, 1);
    }

    a {
        font-weight: 500;
        font-size: 18px;
        font-weight: 500;
    }

    &__list {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
